<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Airport</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body>

<div class="mainDiv">
    <h1>Airport Page</h1>

    <form action="/routes">
        <input type="submit" value="Route list"/>
    </form>

    <form action="/passengers">
        <input type="submit" value="Passenger list"/>
    </form>

    <form action="/task1/form">
        <input type="submit" value="Passenger and his routes"/>
    </form>

    <form action="/task2/form">
        <input type="submit" value="Passenger by class and destination"/>
    </form>

    <form action="/task3">
        <input type="submit" value="Passenger and amount of spent money"/>
    </form>
</div>

</body>
</html>